:root {
  --background-color-gray-alternate: rgb(250, 250, 250);
  --background-color-gray: rgb(247, 247, 247);
  --border-color-light: color(black lightness(93%));
  --font-monospace: 'Source Code Pro', Monaco, 'Courier New', monospace;
  --font-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  --link-color-default: #1DBA85;
  --main-width: 790px .5vr;
  --text-color-complement: #0DBDED;
  --text-color-default: color(black lightness(20%));
  --text-color-light: color(var(--text-color-default) lightness(50%));
}
