@import 'settings';

article article {
  background: white;
  border-top: 1px solid var(--border-color-light);
}

article article:first-child {
  border: 0;
  padding-top: 1vr;
}

article article:nth-child(even) {
  background: var(--background-color-gray-alternate);
}

article article:nth-child(even) .related-links {
  background: var(--background-color-gray);
}

article article:last-of-type {
  border-bottom: 1px solid var(--border-color-light);
  margin-bottom: .5vr;
}

article h1 {
  lost-center: var(--main-width);
  position: relative;
}

article h1:before {
  content: '∞';
  position: absolute;
  width: 50px;
  left: -25px;
  color: var(--text-color-light);
}

article[aria-labelledby = "ariaid-title1"] > h1 {
  margin-bottom: 0;
}
