@import 'normalize-css/normalize';
@import 'prism/themes/prism-okaidia';

@import 'settings';

::selection {
  background: var(--link-color-default);
  color: white;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--background-color-gray);
  color: var(--text-color-default);
  font: 16px/2 var(--font-sans-serif);
  margin-bottom: 1vr;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  margin: .5vr;
  line-height: 2vr;
  position: relative;
}

h2 {
  margin: 0 0 .5vr 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 1vr;
  list-style-type: circle;
}

p {
  margin: 0 0 1vr 0;
  line-height: 1vr;
}

dfn {
  font-style: normal;
}

@import 'metrics';
@import 'links';
@import 'code';
@import 'article';

@import 'dita/common';
@import 'dita/task';
@import 'dita/notes';
@import 'dita/footnotes';
@import 'dita/properties';

@import 'profiler/audience';
@import 'profiler/platform';

.hidden {
  display: none !important;
}

@media only screen and (max-width: 790px) {
  #audience-profiler, .platform-profiler {
    display: none;
  }
}
