@import 'settings';

:any-link {
  color: var(--link-color-default);
  text-decoration: none;
  border-bottom: 1px solid color(var(--link-color-default) lightness(90%));
}

:any-link[name*="fnsrc"], :any-link[name*="fntarg"] {
  border: none;
}

a:link {
  transition: color 175ms ease-in-out;
}

a:hover {
  color: color(var(--link-color-default) lightness(70%));
}

.related-links {
  line-height: 1vr;
  padding: .5vr 0;
  background: var(--background-color-gray-alternate);
  border-top: 1px solid var(--border-color-light);
}

.relinfo {
  lost-center: var(--main-width);
}

.relinfo strong {
  font-weight: 600;
}
