@import 'settings';

#audience-profiler {
  lost-center: var(--main-width);
  margin-top: 0;
  padding-bottom: 1vr;
  line-height: 1vr;
}

#audience-profiler fieldset {
  padding: .25vr .5vr;
}

#audience-profiler strong, #audience-profiler span {
  margin-left: .25vr;
}

#audience-profiler strong {
  font-weight: 600;
}
