@import 'settings';

.platform-profiler {
  background: white;
  color: var(--text-color-light);
  font-size: small;
  opacity: 0.8;
  padding-right: .5vr;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 1;
}

.platform-profiler ul {
  background: rgba(255, 255, 255, 0.90);
  border: 1px solid var(--border-color-light);
  position: absolute;
  width: auto;
  text-align: left;
  padding: .25vr .5vr;
  list-style-type: none;
  right: .5vr;
  text-align: right;
}

.platform-profiler ul li {
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

.platform-profiler ul li:hover {
  color: var(--link-color-default);
}

.platform-profiler-selected {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.platform-profiler-selected:after {
  content: "▾";
  padding-left: 2px;
}
