@import 'settings';

.fn {
  lost-center: var(--main-width);
  line-height: .5vr;
  font-size: small;
  color: var(--text-color-light);
  padding-top: .5vr;
}

.fn a {
  position: relative;
  margin-left: -7px;
}
