@import 'settings';

.properties {
  font-size: small;
  margin-bottom: 1vr;
}

.property, .prophead {
  border-bottom: 1px solid var(--border-color-light);
}

.properties td, .properties th {
  padding: 0 .25vr;
}
